<div class="sample-component">

  {{# promo-link}}
    <a href="some/link">Some Link</a>
  {{/promo-link}}

  Lorem ipsum dolor sit amet extra, consectetur adipiscing elit. Nam consectetur commodo ex, a cursus odio pharetra ac. Curabitur efficitur posuere mi, et pretium ipsum consectetur non. Nulla et ligula a lectus auctor faucibus laoreet id neque. Donec condimentum cursus pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum laoreet tincidunt consequat. Praesent et leo mauris. Aliquam ut neque euismod, lacinia leo ac, lacinia lorem;

  {{#some-nav}}
  <nav class="some-nav">
    <ul>  
      <li>Nav Item 1</li>
      </li>Nav Item 2</li>
    </ul>
  </nav>
  {{/some-nav}}
</div>


